# **Pandas**

### **Objetivos**

- Adquirir los conceptos principales de la liberia
- Ejercer la practica con el DataSet


Un DataFrame esta creado por un conjunto de Series (Estructuras de pandas unidimensionales)

In [2]:
import matplotlib.pyplot as plt;
import matplotlib as mpl;
import numpy as np;
import pandas as pd;

cars_data = pd.read_csv('./cars.csv')
cars_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
401,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
402,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
403,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
404,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
405,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

<h2 style='color:violet'>Funciones basicas</h2>

- index: Nos devuelve la cantidad de filas que contiene nuestro dataframe (enumerados por dataframe)

- Head: Imprime las primeras n filas del dataframe

- Tail: Imprime las ultimas n filas del dataframe

- to_numpy(): Convierte la columna en una matriz fila (Array unidimensional) con Numpy

- empty: Devuelve False si el dataframe no esta vacio, caso contrario True

- equals(): Nos permite comparar valores, si son iguales devuelve true, si son distintos false

- describe(): Imprime los principales valores estadisticos (Quartiles, percentiles, media, minimo, maximo, cantidad, desvio estandar)
    - describe(percentiles=[]): Percentiles personalizados en describe

- count(): Cuenta la cantidad de datos

- reindex([data], axis=): Permite "copiar" un dataframe y agregar features o filas (Si no estaban originalmente, lo agrega con valores nan)

- loc: Esta funcion nos permite acceder a valores mediante un rango [a:b]

- info: Es una tabla que nos permite visualizar como esta compuesto el Dataframe (Sus features, dtypes, cantidad de datos)

In [ ]:
cars_data.index;

cars_data.shape

cars_data.head(n=10);

cars_data.tail(n=5);

cars_data['horsepower'].to_numpy();

cars_data.empty;

cars_data['cylinders'].head(n=5).equals(8);

cars_data.describe();

cars_data.info();

cars_data.describe(percentiles=[0.05, 0.25, 0.40, 0.10]);

cars_data['car name'].count();

cars_data.loc[3:4];

#Reindex: 
#En este caso la columna new_feature = nan
new_cars_data = cars_data.reindex(['cylinders', 'horsepower', 'new_feature'], axis=1);

<h2 style='color:orange'>Missing Data</h2>

- Trabajar con datos que no estan definidos y como proceder con ellos
- Limpiar datos o incluso rellenar valores por defecto

- fillna(): Nos permite reemplazar los datos nan por un valor, podemos definir limite, feature, etc.
    - Propiedad inplace = True para modificar el dataframe original

- dropna(): Elimina todas las filas en donde se encuentre un campo 
    - Para reemplazar el dataframe original se utiliza la propiedad inplace = True
    
- to_datetime: Transforma un formato númerico en una fecha. 

- duplicated(): Esta funcion nos permite saber si hay datos duplicados en nuestro dataframe (Compara la fila anterior con la actual, y si son iguales devuelve true)

- drop_duplicates(): Elimina las filas o datos duplicados
    - inplace = True para reemplazar el dataframe original

In [ ]:

# Uso new_cars_data ya que tiene campos nan
new_cars_data.fillna(9);

#Podemos rellenar solamente una columna
new_cars_data['new_feature'].fillna(5);

new_cars_data.dropna();

#Reemplazar por la media, lo mismo podemos hacer con la mediana o moda.
mean = new_cars_data['horsepower'].mean();
new_cars_data.fillna(mean);

new_cars_data.duplicated();

new_cars_data.drop_duplicates();

<h2 style='color: yellow'>Modificacion de Dataframes</h2>

- pop: Elimina una columna de nuestro Dataframe y nos devuelve la misma

- <h7 style='color: red'>Lo van a eliminar</h7> append: Añade una fila a nuestro dataframe, le debemos pasar la serie con []
    - ignore_index: True para ubicar la nueva fila en el ultimo index

- shape: Devuelve la cantidad de filas y columnas que contiene nuestro dataframe

- sort_index(): Nos permite ordenar por orden ascendente o descendente las filas

- sort_values(): Permite ordenar por orden ascendente o descendente los valores de las features (columnas)

In [ ]:
#Utilizo una copia de cars_data para modificarlo

dataframe_copy = cars_data;

#dataframe_copy.sort_index(ascending=True);

#dataframe_copy.sort_values(ascending=False)

#dataframe_copy.pop('horsepower');

#Filtra la información por displacement <= 300 y las cilindradas iguales a 8
dataframe_copy[(dataframe_copy['displacement'] <= 300) & (dataframe_copy['cylinders'] == 8)];